.datatable_table_container {
	overflow-x: auto;
	padding: 5px 0px;
}

.datatable_table {
	border-collapse: collapse;
	width: 100%;
}

.datatable_td, .datatable_th {
	border: solid 1px grey;
	white-space: nowrap;
	padding: 2px 5px;
}

.datatable_header {
    display: flex;
    justify-content: space-between;
}

#pagination_container {
    display: flex;
    gap: 3px;
    justify-content: end;
}

.invisible {
    display: none;
}
