.datatable_table_container {
	overflow-x: auto;
	padding: 5px;
}

.datatable_table {
	border-collapse: collapse;
	width: 100%;
}

.datatable_td, .datatable_th {
	border: solid 1px grey;
	white-space: nowrap;
}